
.App {
  text-align: center;
  background-color: #323A46;
  min-height: 100vh;
  padding-top: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* Styling the day div */
#day-div {
  color: #f7f8f9;
  display: grid;
  width: auto;
  margin: 0 auto;
  align-items: center;
  padding: 0 auto;
}
#main-header{
  margin : 20px 0 0 0;
  font-size: calc(10px + 2vmin);;
  text-decoration: none;
  color: #6183E4;
  font-weight: bold;
  ;
}
#week-div {
  color: #f7f8f9;
  height: 10%;
  padding: 2vh;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
#temp-header{
  font-size: 11vh;
  font-weight: lighter;
  color: #f7f8f9;
}
#main-day-weather{
  width: 100%;
  color: #f7f8f9;
  
}
#day-div-container {
  display: flex;
  color: #f7f8f9;
  padding-bottom: 10px;
  padding-top: 15px;
}


#img {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0%;
}

#temp-div  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#city-name{
  font-size: 3vh;
}

button[type='submit'] {
  background-color: #6183E4;
  border: none;
  border-radius: 0 25px 25px 0;
  color: #f7f8f9;
}

input[type='text']{
  border-radius: 25px 0 0 25px;
  border: none;
}

#weather-form{
  padding: 15px
}


@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1024px) {
  .container header .header-nav-area #nav_container  {
    display:flex;
  }
}

@media only screen and (min-width: 1024px) {
  .container header .header-nav-area #nav_container  {
    display:flex;
  }
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
}
*, ::after, ::before {
  box-sizing: border-box;
}